@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
html {
  height: 100%;
}

body{

  background-attachment: fixed;
  
}

.mars{
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  height: 27vmin;
  background: url('https://assets.codepen.io/1538474/mars.svg') no-repeat bottom center;
  background-size: cover;
}

.logo-404{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 16vmin;
  width: 30vmin;
}

.meteor{
  position: absolute;
  right: 2vmin;
  top: 16vmin;
}

/* .title{
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 5vmin;
  margin-top: 31vmin;
} */

.subtitle{
  color: black;
  font-weight: 400;
  text-align: center;
  font-size: 3.5vmin;
  margin-top: -1vmin;
  margin-bottom: 9vmin;
}

.btn-back{
  border: 1px solid white;
  color: white;
  height: 5vmin;
  padding: 12px;
  text-decoration: none;
	border-radius: 5px;
}

.astronaut{
  position: absolute;
  top: 18vmin;
  /* left: 10vmin; */
  height: 30vmin;
	animation: floating 3s infinite ease-in-out;
}

.spaceship{
  position: absolute;
  bottom: 15vmin;
  /* right: 24vmin; */
}




.srcinput {
  display: inline-block;
  position: relative;
}

.srcinput input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.srcbtn button{
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .9s ease;
}

.srcbtn button:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}
