/* code created by pavun 12/06/2024 */

  addbutton {
    cursor: pointer;
    padding-right: 30px;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 0px;
    margin: 5px 5px 5px 2px;
    }

    .atthdrcode{
   
      
      
       right: 0px;
       top: 1; 
       z-index: 1;
      
     
     
     
     }

    delbutton {
        cursor: pointer;
        color: rgb(255, 0, 0);
        /* padding-left: 30px; */
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 5px 5px 5px 2px;
        }

        .icon {
            --bs-btn-color: black;
             --bs-btn-bg: none; 
             --bs-btn-border-color: none; 
            --bs-btn-hover-color:  #6c8724;
            --bs-btn-hover-bg: none;
            --bs-btn-hover-border-color: #373b3e;
            --bs-btn-focus-shadow-rgb: 66, 70, 73;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #4d5154;
            --bs-btn-active-border-color: #373b3e;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #212529;
            --bs-btn-disabled-border-color: #212529;
        }

       
        .toast-design{
          width : "430px",
        }

        @media (max-width: 768px) {
          .toast-design {
            width: 90%; 
            margin: 10px auto;
          }
        }
        

        